@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

/* Optimisations */
html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Correction pour l'effet scroll mobile */
@media (max-width: 768px) {
  .bg-fixed {
    background-attachment: scroll !important;
  }
}
